<?xml version="1.0" encoding="utf-8" ?>
<!--
 * This file is part of eHealth-Interoperability.
 * 
 * .Net ETEE for eHealth is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * .Net ETEE for eHealth  is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License for more details.

 * You should have received a copy of the GNU Lesser General Public License
 * along with eH-I.  If not, see <http://www.gnu.org/licenses/>.
-->
<configuration>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" logKnownPii="true">
        <listeners>
          <add name="traceListener"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="Traces.svclog"/>
    </sharedListeners>
    <trace autoflush="true"/>
  </system.diagnostics>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logKnownPii="true" maxMessagesToLog="300" logMessagesAtServiceLevel="true" logMalformedMessages="true" logMessagesAtTransportLevel="true"/>
    </diagnostics>
    <extensions>
      <behaviorExtensions>
        <add name="session" type="Siemens.EHealth.Client.Sso.Configuration.SessionBehaviorElement, Siemens.EHealth.Client" />
      </behaviorExtensions>
      <bindingExtensions>
        <add name="ssoBinding" type="Siemens.EHealth.Client.Sso.Configuration.SsoBindingCollectionElement, Siemens.EHealth.Client"/>
        <add name="stsBinding" type="Siemens.EHealth.Client.Sso.Sts.Configuration.StsBindingCollectionElement, Siemens.EHealth.Client"/>
      </bindingExtensions>
    </extensions>
    <bindings>
      <ssoBinding>
        <binding name="hospital">
          <security mode="Message">
            <message issuedKeyType="AsymmetricKey" negotiateServiceCredential="false"  establishSecurityContext="false">
              <issuer address="https://wwwacc.ehealth.fgov.be/sts_1_1/SecureTokenService" binding="stsBinding" />
              <tokenRequestParameters>
                <saml:Attribute xmlns:saml="urn:oasis:names:tc:SAML:1.0:assertion" AttributeNamespace="urn:be:fgov:identification-namespace" AttributeName="urn:be:fgov:ehealth:1.0:hospital:nihii-number">
                  <saml:AttributeValue xsi:type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">71022212</saml:AttributeValue>
                </saml:Attribute>
                <saml:Attribute xmlns:saml="urn:oasis:names:tc:SAML:1.0:assertion" AttributeNamespace="urn:be:fgov:identification-namespace" AttributeName="urn:be:fgov:ehealth:1.0:certificateholder:hospital:nihii-number">
                  <saml:AttributeValue xsi:type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">71022212</saml:AttributeValue>
                </saml:Attribute>
                <!-- Is required, but not supported... -->
                <!--
                <saml:Attribute xmlns:saml="urn:oasis:names:tc:SAML:1.0:assertion" AttributeNamespace="urn:be:fgov:identification-namespace" AttributeName="urn:be:fgov:ehealth:person:ssin">
                  <saml:AttributeValue xsi:type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">79021802145</saml:AttributeValue>
                </saml:Attribute>
                -->
              </tokenRequestParameters>
              <claimTypeRequirements>
                <add claimType="{urn:be:fgov:identification-namespace}urn:be:fgov:ehealth:1.0:hospital:nihii-number"/>
                <add claimType="{urn:be:fgov:identification-namespace}urn:be:fgov:ehealth:1.0:certificateholder:hospital:nihii-number"/>
                <!-- Is required, but not supported... -->
                <!--
                <add claimType="{urn:be:fgov:identification-namespace}urn:be:fgov:ehealth:person:ssin"/>
                -->
                <!-- Missing information apparently, so we try the next one (that results in a SAML) -->
                <!--
                <add claimType="{urn:be:fgov:certified-namespace:ehealth}urn:be:fgov:ehealth:1.0:hospital:nihii-number:recognisedhospital:boolean"/>
                -->
                <add claimType="{urn:be:fgov:certified-namespace:ehealth}urn:be:fgov:ehealth:1.0:certificateholder:hospital:nihii-number:recognisedhospital:boolean"/>
              </claimTypeRequirements>
            </message>
          </security>
        </binding>
        <binding name="hio">
          <security mode="Message">
            <message issuedKeyType="AsymmetricKey" negotiateServiceCredential="false"  establishSecurityContext="false">
              <issuer address="https://wwwacc.ehealth.fgov.be/sts_1_1/SecureTokenService" binding="stsBinding" />
              <tokenRequestParameters>
                <saml:Attribute xmlns:saml="urn:oasis:names:tc:SAML:1.0:assertion" AttributeNamespace="urn:be:fgov:identification-namespace" AttributeName="urn:be:fgov:kbo-bce:organization:cbe-number">
                  <saml:AttributeValue xsi:type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">0820563481</saml:AttributeValue>
                </saml:Attribute>
                <saml:Attribute xmlns:saml="urn:oasis:names:tc:SAML:1.0:assertion" AttributeNamespace="urn:be:fgov:identification-namespace" AttributeName="urn:be:fgov:ehealth:1.0:certificateholder:enterprise:cbe-number">
                  <saml:AttributeValue xsi:type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">0820563481</saml:AttributeValue>
                </saml:Attribute>
                <saml:Attribute xmlns:saml="urn:oasis:names:tc:SAML:1.0:assertion" AttributeNamespace="urn:be:fgov:identification-namespace" AttributeName="urn:be:fgov:person:ssin">
                  <saml:AttributeValue xsi:type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">79021802145</saml:AttributeValue>
                </saml:Attribute>
              </tokenRequestParameters>
              <claimTypeRequirements>
                <add claimType="{urn:be:fgov:identification-namespace}urn:be:fgov:kbo-bce:organization:cbe-number"/>
                <add claimType="{urn:be:fgov:identification-namespace}urn:be:fgov:ehealth:1.0:certificateholder:enterprise:cbe-number"/>
                <add claimType="{urn:be:fgov:identification-namespace}urn:be:fgov:person:ssin"/>
              </claimTypeRequirements>
            </message>
          </security>
        </binding>
      </ssoBinding>
      <basicHttpBinding>
        <binding name="httpsBinding">
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="">
              <extendedProtectionPolicy policyEnforcement="Never"/>
            </transport>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://services-acpt.ehealth.fgov.be/ehBoxConsultation/v2" binding="ssoBinding" bindingConfiguration="hio" behaviorConfiguration="hio" contract="EhBoxConsultV2"  name="Consult"/>
      <endpoint address="https://services-acpt.ehealth.fgov.be/ehBoxPublication/v2" binding="ssoBinding" bindingConfiguration="hio" behaviorConfiguration="hio" contract="EhBoxPublishV2"  name="Publish"/>
      <endpoint address="https://services-acpt.ehealth.fgov.be/EtkDepot/v1" binding="basicHttpBinding" bindingConfiguration="httpsBinding" contract="ServiceClient.EtkDepotPortType" name="etk"/>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="hospital">
          <clientCredentials type="Siemens.EHealth.Client.Sso.SsoClientCredentials, Siemens.EHealth.Client">
            <!--Hosptial certifcate-->
            <clientCertificate storeLocation="CurrentUser" storeName="My" x509FindType="FindByThumbprint" findValue="415442ca384c853231e203fafa9a436f33b4043b" />
          </clientCredentials>
          <session duration="1:0:0:0">
            <sessionCertificate selfSigned="false" storeLocation="CurrentUser" storeName="My" x509FindType="FindByThumbprint" findValue="415442ca384c853231e203fafa9a436f33b4043b"/>
          </session>
        </behavior>
        <behavior name="hio">
          <clientCredentials type="Siemens.EHealth.Client.Sso.SsoClientCredentials, Siemens.EHealth.Client">
            <clientCertificate storeLocation="CurrentUser" storeName="My" x509FindType="FindByThumbprint" findValue="9c4227f1b9c7a52823829837f1a2e80690da8010" />
          </clientCredentials>
          <session duration="1:0:0:0">
            <sessionCertificate selfSigned="false" storeLocation="CurrentUser" storeName="My" x509FindType="FindByThumbprint" findValue="9c4227f1b9c7a52823829837f1a2e80690da8010"/>
            <!--cache type="Siemens.EHealth.Client.Sso.FileSessionCache, Siemens.EHealth.Client">
              <path>C:\temp\cache</path>
            </cache-->
          </session>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>