################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/bin
**/obj

*.nupkg

/release.snk
/.vs
*.user
/packages/
eHealth*.*p12
eHealth*.pwd
*.pin