################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/bin
**/obj
**/target

*.nupkg

/release.snk
/.vs
.idea
*.user
*.iml
/packages/
eHealth*.*p12
eHealth*.pwd
*.pin