<?xml version="1.0" encoding="utf-8" ?>
<!--
 * This file is part of .Net ETEE for eHealth.
 * 
 * .Net ETEE for eHealth is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * .Net ETEE for eHealth  is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License for more details.

 * You should have received a copy of the GNU Lesser General Public License
 * along with Foobar.  If not, see <http://www.gnu.org/licenses/>.
-->
  <configuration>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" logKnownPii="true">
        <listeners>
          <add name="traceListener"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="Traces.svclog"/>
    </sharedListeners>
    <trace autoflush="true"/>
  </system.diagnostics>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logKnownPii="true" maxMessagesToLog="300" logMessagesAtServiceLevel="true" logMalformedMessages="true" logMessagesAtTransportLevel="true"/>
    </diagnostics>
    <extensions>
      <behaviorExtensions>
        <add name="session" type="Siemens.EHealth.Client.Sso.Configuration.SessionBehaviorElement, Siemens.EHealth.Client" />
      </behaviorExtensions>
      <bindingExtensions>
        <add name="ssoBinding" type="Siemens.EHealth.Client.Sso.Configuration.SsoBindingCollectionElement, Siemens.EHealth.Client"/>
        <add name="stsBinding" type="Siemens.EHealth.Client.Sso.Sts.Configuration.StsBindingCollectionElement, Siemens.EHealth.Client"/>
      </bindingExtensions>
    </extensions>
    <bindings>
      <basicHttpBinding>
        <binding name="httpsBinding">
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="">
              <extendedProtectionPolicy policyEnforcement="Never"/>
            </transport>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
      <ssoBinding>
        <binding name="SSIN=79021802145">
          <security mode="Message">
            <message issuedKeyType="AsymmetricKey" negotiateServiceCredential="false"  establishSecurityContext="false">
              <issuer address="https://wwwacc.ehealth.fgov.be/sts_1_1/SecureTokenService" binding="stsBinding">
                <identity>
                  <certificateReference storeLocation="LocalMachine" storeName="AddressBook" x509FindType="FindByThumbprint" findValue="23005f9a30f357dfb265de5277db54c5ff61d34d"/>
                </identity>
              </issuer>
              <tokenRequestParameters>
                <saml:Attribute xmlns:saml="urn:oasis:names:tc:SAML:1.0:assertion" AttributeNamespace="urn:be:fgov:identification-namespace" AttributeName="urn:be:fgov:person:ssin">
                  <saml:AttributeValue xsi:type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">79021802145</saml:AttributeValue>
                </saml:Attribute>
                <saml:Attribute xmlns:saml="urn:oasis:names:tc:SAML:1.0:assertion" AttributeNamespace="urn:be:fgov:identification-namespace" AttributeName="urn:be:fgov:ehealth:1.0:certificateholder:person:ssin">
                  <saml:AttributeValue xsi:type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">79021802145</saml:AttributeValue>
                </saml:Attribute>
              </tokenRequestParameters>
              <claimTypeRequirements>
                <add claimType="{urn:be:fgov:identification-namespace}urn:be:fgov:person:ssin"/>
                <add claimType="{urn:be:fgov:identification-namespace}urn:be:fgov:ehealth:1.0:certificateholder:person:ssin"/>
              </claimTypeRequirements>
            </message>
          </security>
        </binding>
        <binding name="SSIN=79021802145-CBE=0459540270">
          <security mode="Message">
            <message issuedKeyType="AsymmetricKey" negotiateServiceCredential="false"  establishSecurityContext="false">
              <issuer address="https://wwwacc.ehealth.fgov.be/sts_1_1/SecureTokenService" binding="stsBinding">
                <identity>
                  <certificateReference storeLocation="LocalMachine" storeName="AddressBook" x509FindType="FindByThumbprint" findValue="23005f9a30f357dfb265de5277db54c5ff61d34d"/>
                </identity>
              </issuer>
              <tokenRequestParameters>
                <saml:Attribute xmlns:saml="urn:oasis:names:tc:SAML:1.0:assertion" AttributeNamespace="urn:be:fgov:identification-namespace" AttributeName="urn:be:fgov:person:ssin">
                  <saml:AttributeValue xsi:type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">79021802145</saml:AttributeValue>
                </saml:Attribute>
                <saml:Attribute xmlns:saml="urn:oasis:names:tc:SAML:1.0:assertion" AttributeNamespace="urn:be:fgov:identification-namespace" AttributeName="urn:be:fgov:ehealth:1.0:certificateholder:person:ssin">
                  <saml:AttributeValue xsi:type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">79021802145</saml:AttributeValue>
                </saml:Attribute>
                <saml:Attribute xmlns:saml="urn:oasis:names:tc:SAML:1.0:assertion" AttributeNamespace="urn:be:fgov:identification-namespace" AttributeName="urn:be:fgov:ehealth:1.0:enterprise:cbe-number">
                  <saml:AttributeValue xsi:type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">0459540270</saml:AttributeValue>
                </saml:Attribute>
              </tokenRequestParameters>
              <claimTypeRequirements>
                <add claimType="{urn:be:fgov:identification-namespace}urn:be:fgov:person:ssin"/>
                <add claimType="{urn:be:fgov:identification-namespace}urn:be:fgov:ehealth:1.0:certificateholder:person:ssin"/>
                <add claimType="{urn:be:fgov:identification-namespace}urn:be:fgov:ehealth:1.0:enterprise:cbe-number"/>
              </claimTypeRequirements>
            </message>
          </security>
        </binding>
        <binding name="CBE=0459540270">
          <security mode="Message">
            <message issuedKeyType="AsymmetricKey" negotiateServiceCredential="false"  establishSecurityContext="false">
              <issuer address="https://wwwacc.ehealth.fgov.be/sts_1_1/SecureTokenService" binding="stsBinding">
                <identity>
                  <certificateReference storeLocation="LocalMachine" storeName="AddressBook" x509FindType="FindByThumbprint" findValue="23005f9a30f357dfb265de5277db54c5ff61d34d"/>
                </identity>
              </issuer>
              <tokenRequestParameters>
                <saml:Attribute xmlns:saml="urn:oasis:names:tc:SAML:1.0:assertion" AttributeNamespace="urn:be:fgov:identification-namespace" AttributeName="urn:be:fgov:ehealth:1.0:enterprise:cbe-number">
                  <saml:AttributeValue xsi:type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">0459540270</saml:AttributeValue>
                </saml:Attribute>
                <saml:Attribute xmlns:saml="urn:oasis:names:tc:SAML:1.0:assertion" AttributeNamespace="urn:be:fgov:identification-namespace" AttributeName="urn:be:fgov:ehealth:1.0:certificateholder:enterprise:cbe-number">
                  <saml:AttributeValue xsi:type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">0459540270</saml:AttributeValue>
                </saml:Attribute>
              </tokenRequestParameters>
              <claimTypeRequirements>
                <add claimType="{urn:be:fgov:identification-namespace}urn:be:fgov:ehealth:1.0:enterprise:cbe-number"/>
                <add claimType="{urn:be:fgov:identification-namespace}urn:be:fgov:ehealth:1.0:certificateholder:enterprise:cbe-number"/>
              </claimTypeRequirements>
            </message>
          </security>
        </binding>
      </ssoBinding>
    </bindings>
    <client>
      <endpoint address="https://services-acpt.ehealth.fgov.be/EtkDepot/v1" binding="basicHttpBinding" bindingConfiguration="httpsBinding" contract="ServiceClient.EtkDepotPortType" name="etk"/>
      <endpoint address="https://services-acpt.ehealth.fgov.be/Kgss/v1" binding="basicHttpBinding" bindingConfiguration="httpsBinding" contract="ServiceClient.KgssPortType" name="kgss-anon" />
      <endpoint address="https://services-acpt.ehealth.fgov.be/Kgss/v1" binding="ssoBinding" bindingConfiguration="SSIN=79021802145" behaviorConfiguration="SSIN=79021802145"  contract="ServiceClient.KgssPortType" name="kgss-79021802145">
        <identity>
          <certificateReference storeLocation="LocalMachine" storeName="AddressBook" x509FindType="FindByThumbprint" findValue="b16c4c77422e8738441b26b36ad7750f1bf873a3"/>
        </identity>
      </endpoint>
      <endpoint address="https://services-acpt.ehealth.fgov.be/Kgss/v1" binding="ssoBinding" bindingConfiguration="SSIN=79021802145-CBE=0459540270" behaviorConfiguration="SSIN=79021802145-CBE=0459540270"  contract="ServiceClient.KgssPortType" name="kgss-79021802145-0459540270">
        <identity>
          <certificateReference storeLocation="LocalMachine" storeName="AddressBook" x509FindType="FindByThumbprint" findValue="b16c4c77422e8738441b26b36ad7750f1bf873a3"/>
        </identity>
      </endpoint>
      <endpoint address="https://services-acpt.ehealth.fgov.be/Kgss/v1" binding="ssoBinding" bindingConfiguration="CBE=0459540270" behaviorConfiguration="CBE=0459540270"  contract="ServiceClient.KgssPortType" name="kgss-0459540270">
        <identity>
          <certificateReference storeLocation="LocalMachine" storeName="AddressBook" x509FindType="FindByThumbprint" findValue="b16c4c77422e8738441b26b36ad7750f1bf873a3"/>
        </identity>
      </endpoint>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="SSIN=79021802145">
          <clientCredentials type="Siemens.EHealth.Client.Sso.SsoClientCredentials, Siemens.EHealth.Client">
            <!-- use my personal eid as authentication -->
            <clientCertificate storeLocation="CurrentUser" storeName="My" x509FindType="FindByThumbprint" findValue="c0f554147928c3722670a47be2f92a9089add107"/>
          </clientCredentials>
          <session duration="1:0:0:0">
            <!-- use my personal eID als session certficate -->
            <sessionCertificate selfSigned="false" storeLocation="CurrentUser" storeName="My" x509FindType="FindByThumbprint" findValue="c0f554147928c3722670a47be2f92a9089add107"/>
          </session>
        </behavior>
        <behavior name="SSIN=79021802145-CBE=0459540270">
          <clientCredentials type="Siemens.EHealth.Client.Sso.SsoClientCredentials, Siemens.EHealth.Client">
            <!-- use my personal eid as authentication -->
            <clientCertificate storeLocation="CurrentUser" storeName="My" x509FindType="FindByThumbprint" findValue="c0f554147928c3722670a47be2f92a9089add107"/>
          </clientCredentials>
          <session duration="1:0:0:0">
            <!-- use the SIS eHealth auth cert for the session -->
            <sessionCertificate selfSigned="false" storeLocation="CurrentUser" storeName="My" x509FindType="FindByThumbprint" findValue="c175242f2454fa00b69b49308f82cae919f8e8f5"/>
          </session>
        </behavior>
        <behavior name="CBE=0459540270">
          <clientCredentials type="Siemens.EHealth.Client.Sso.SsoClientCredentials, Siemens.EHealth.Client">
            <!-- use the SIS eHealth auth cert for the session -->
            <clientCertificate storeLocation="CurrentUser" storeName="My" x509FindType="FindByThumbprint" findValue="c175242f2454fa00b69b49308f82cae919f8e8f5"/>
          </clientCredentials>
          <session duration="1:0:0:0">
            <!-- use the SIS eHealth auth cert for the session -->
            <sessionCertificate selfSigned="false" storeLocation="CurrentUser" storeName="My" x509FindType="FindByThumbprint" findValue="c175242f2454fa00b69b49308f82cae919f8e8f5"/>
          </session>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>