<?xml version="1.0" encoding="utf-8"?>
<!-- 
 * This file is part of .Net ETEE for eHealth.
 * 
 * .Net ETEE for eHealth is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * .Net ETEE for eHealth  is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License for more details.

 * You should have received a copy of the GNU Lesser General Public License
 * along with .Net ETEE for eHealth.  If not, see <http://www.gnu.org/licenses/>.
-->
<configuration>
  <system.diagnostics>
    <sources>
      <source name="Egelke.EHealth.Etee" switchValue="Verbose">
        <listeners>
          <add name="configConsoleListener" type="System.Diagnostics.ConsoleTraceListener" />

        </listeners>
      </source>
      <source name="Egelke.EHealth.Etee.Test" switchValue="Verbose">
        <listeners>
          <add name="configConsoleListener" type="System.Diagnostics.ConsoleTraceListener" />

        </listeners>
      </source>
      <source name="Egelke.EHealth.Tsa" switchValue="Verbose">
        <listeners>
          <add name="configConsoleListener" type="System.Diagnostics.ConsoleTraceListener" />

        </listeners>
      </source>
    </sources>
    <trace autoflush="true" indentsize="4" />
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="a4292a325f69b123" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.4137.9688" newVersion="1.7.4137.9688" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>