<?xml version="1.0" encoding="utf-8" ?>
<!-- 
 * This file is part of .Net ETEE for eHealth.
 * 
 * .Net ETEE for eHealth is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * .Net ETEE for eHealth  is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License for more details.

 * You should have received a copy of the GNU Lesser General Public License
 * along with Foobar.  If not, see <http://www.gnu.org/licenses/>.
-->
<configuration>
  <configSections>
    <section name="eHealth.etee" type="Siemens.EHealth.Etee.Crypto.Configuration.EteeConfiguration, Siemens.EHealth.Etee.Crypto, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3dd81f6b7de27543" />
  </configSections>
  <system.diagnostics>
    <sources>
      <source name="System.Security.Cryptography.Xml.SignedXml" switchValue="Verbose">
        <listeners>
          <add name="trace" type="System.Diagnostics.TextWriterTraceListener" initializeData="log.txt" />
        </listeners>
      </source>
      <source name="EHealth.Etee" switchValue="Verbose, ActivityTracing" >
        <listeners>
          <add name="trace" type="System.Diagnostics.XmlWriterTraceListener" initializeData="EHealth.Etee.TraceLog.svcLog" />
        </listeners>
      </source>
    </sources>
    <trace autoflush="true" indentsize="4" />
  </system.diagnostics>
  <eHealth.etee>
    <!--default encryptAlgorithm="2des" />
    <seal encryptAlgorithm="3des"  />
    <unseal encryptAlgorithm="3des" /-->
  </eHealth.etee>
</configuration>