<?xml version="1.0" encoding="utf-8" ?>
<!-- 
 * This file is part of .Net ETEE for eHealth.
 * 
 * .Net ETEE for eHealth is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * .Net ETEE for eHealth  is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License for more details.

 * You should have received a copy of the GNU Lesser General Public License
 * along with .Net ETEE for eHealth.  If not, see <http://www.gnu.org/licenses/>.
-->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Egelke.EHealth.Etee.Crypto.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Siemens.eHealth.ETEE.Crypto.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <sources>
      <source name="Siemens.EHealth.Etee" switchValue="Verbose">
        <listeners>
          <add name="trace" type="System.Diagnostics.TextWriterTraceListener" initializeData="trace.txt" />
        </listeners>
      </source>
      <source name="System.Security.Cryptography.Xml.SignedXml" switchValue="Verbose">
        <listeners>
          <add name="trace" type="System.Diagnostics.TextWriterTraceListener" initializeData="log.txt" />
        </listeners>
      </source>
      <source name="EHealth.Etee" switchValue="Verbose, ActivityTracing" >
        <listeners>
          <add name="trace" type="System.Diagnostics.XmlWriterTraceListener" initializeData="EHealth.Etee.TraceLog.svcLog" />
        </listeners>
      </source>
    </sources>
    <trace autoflush="true" indentsize="4" />
  </system.diagnostics>
  <applicationSettings>
    <Egelke.EHealth.Etee.Crypto.Properties.Settings>
      <setting name="Online" serializeAs="String">
        <value>True</value>
      </setting>
    </Egelke.EHealth.Etee.Crypto.Properties.Settings>
    <Siemens.eHealth.ETEE.Crypto.Test.Properties.Settings>
      <setting name="Dummy" serializeAs="String">
        <value />
      </setting>
    </Siemens.eHealth.ETEE.Crypto.Test.Properties.Settings>
  </applicationSettings>
</configuration>