<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Siemens.EHealth.Client.UnitTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Siemens.EHealth.Client.UnitTest.Properties.Settings>
            <setting name="RealP12Pwd" serializeAs="String">
                <value>pYTeRG3xJyuWP8sJA7LWUUg1FFzS0vKqopBEFSJ+RdBAwlWcqkex7h3Fwwtqj8qY0BMQFhd+3gaVuV6YtY4A7W/Al8OcnwUfhHRDOVE296Uw45dN1wRoChIrzGVMkfjHoNaIdmqJQzWgU0xWg+o8O/W6w6vy2Z9obPa9LW1xVEX1i3yURP9py/dZ8AVqix4a5mlvoNlqdn4rAgV4sxFKLNWSikdmOvgOU0xD6xucfvOrVmWjfa0ckW8SJm80v2/hV17QjTXecdavZxewKHK6L6uNZhSgdqxYwths1H4Sv/KcyjBI2w7ICyC6Oe4tbyJXJvaZVxnnJfxNg9iSgyUR5A==</value>
            </setting>
        </Siemens.EHealth.Client.UnitTest.Properties.Settings>
    </applicationSettings>
</configuration>