<?xml version="1.0" encoding="utf-8" ?>
<!--
 * This file is part of eHealth-Interoperability.
 * 
 * .Net ETEE for eHealth is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * .Net ETEE for eHealth  is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License for more details.

 * You should have received a copy of the GNU Lesser General Public License
 * along with eH-I.  If not, see <http://www.gnu.org/licenses/>.
-->
<configuration>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" logKnownPii="true">
        <listeners>
          <add name="traceListener"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="Traces.svclog"/>
    </sharedListeners>
    <trace autoflush="true"/>
  </system.diagnostics>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logKnownPii="true" maxMessagesToLog="300" logMessagesAtServiceLevel="true" logMalformedMessages="true" logMessagesAtTransportLevel="true"/>
    </diagnostics>
    <extensions>
      <behaviorExtensions>
        <add name="session" type="Siemens.EHealth.Client.Sso.Configuration.SessionBehaviorElement, Siemens.EHealth.Client" />
      </behaviorExtensions>
      <bindingExtensions>
        <add name="ssoBinding" type="Siemens.EHealth.Client.Sso.Configuration.SsoBindingCollectionElement, Siemens.EHealth.Client"/>
        <add name="stsBinding" type="Siemens.EHealth.Client.Sso.Sts.Configuration.StsBindingCollectionElement, Siemens.EHealth.Client"/>
      </bindingExtensions>
    </extensions>
    <bindings>
      <ssoBinding>
        <binding name="HospitalBinding">
          <security mode="Message">
            <message issuedKeyType="AsymmetricKey" negotiateServiceCredential="false"  establishSecurityContext="false">
              <!--issuer address="https://wwwint.ehealth.fgov.be/R1/sts/v1/SecureTokenService" binding="stsBinding" /-->
              <issuer address="https://wwwacc.ehealth.fgov.be/sts_1_1/SecureTokenService" binding="stsBinding" />
              <tokenRequestParameters>
                <saml:Attribute xmlns:saml="urn:oasis:names:tc:SAML:1.0:assertion" AttributeNamespace="urn:be:fgov:identification-namespace" AttributeName="urn:be:fgov:ehealth:1.0:hospital:nihii-number">
                  <saml:AttributeValue xsi:type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">71022212</saml:AttributeValue>
                </saml:Attribute>
                <saml:Attribute xmlns:saml="urn:oasis:names:tc:SAML:1.0:assertion" AttributeNamespace="urn:be:fgov:identification-namespace" AttributeName="urn:be:fgov:ehealth:1.0:certificateholder:hospital:nihii-number">
                  <saml:AttributeValue xsi:type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">71022212</saml:AttributeValue>
                </saml:Attribute>
              </tokenRequestParameters>
              <claimTypeRequirements>
                <add claimType="{urn:be:fgov:identification-namespace}urn:be:fgov:ehealth:1.0:hospital:nihii-number"/>
                <add claimType="{urn:be:fgov:identification-namespace}urn:be:fgov:ehealth:1.0:certificateholder:hospital:nihii-number"/>
                <add claimType="{urn:be:fgov:certified-namespace:ehealth}urn:be:fgov:ehealth:1.0:certificateholder:hospital:nihii-number:recognisedhospital:boolean"/>
                <add claimType="{urn:be:fgov:certified-namespace:ehealth}urn:be:fgov:ehealth:1.0:hospital:nihii-number:recognisedhospital:nihii11"/>
              </claimTypeRequirements>
            </message>
          </security>
        </binding>
        <binding name="DoctorBinding">
          <security mode="Message">
            <message issuedKeyType="AsymmetricKey" negotiateServiceCredential="false"  establishSecurityContext="false">
              <issuer address="https://wwwint.ehealth.fgov.be/R1/sts/v1/SecureTokenService" binding="stsBinding" />
              <!--issuer address="https://wwwacc.ehealth.fgov.be/sts_1_1/SecureTokenService" binding="stsBinding" /-->
              <tokenRequestParameters>
                <saml:Attribute xmlns:saml="urn:oasis:names:tc:SAML:1.0:assertion" AttributeNamespace="urn:be:fgov:identification-namespace" AttributeName="urn:be:fgov:person:ssin">
                  <saml:AttributeValue xsi:type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">75042628553</saml:AttributeValue>
                </saml:Attribute>
                <saml:Attribute xmlns:saml="urn:oasis:names:tc:SAML:1.0:assertion" AttributeNamespace="urn:be:fgov:identification-namespace" AttributeName="urn:be:fgov:ehealth:1.0:certificateholder:person:ssin">
                  <saml:AttributeValue xsi:type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">75042628553</saml:AttributeValue>
                </saml:Attribute>
              </tokenRequestParameters>
              <claimTypeRequirements>
                <add claimType="{urn:be:fgov:identification-namespace}urn:be:fgov:person:ssin"/>
                <add claimType="{urn:be:fgov:identification-namespace}urn:be:fgov:ehealth:1.0:certificateholder:person:ssin"/>
                <add claimType="{urn:be:fgov:certified-namespace:ehealth}urn:be:fgov:person:ssin:doctor:boolean"/>
                <add claimType="{urn:be:fgov:certified-namespace:ehealth}urn:be:fgov:person:ssin:ehealth:1.0:doctor:nihii11"/>
              </claimTypeRequirements>
            </message>
          </security>
        </binding>
      </ssoBinding>
    </bindings>
    <client>
      <endpoint address="https://services-acpt.ehealth.fgov.be/GenericInsurability/v1" binding="ssoBinding" bindingConfiguration="HospitalBinding" behaviorConfiguration="HospitalBehavior" contract="GenInsV1"  name="HospitalEP"/>
      <endpoint address="https://services-int.ehealth.fgov.be/GenericInsurability/v1" binding="ssoBinding" bindingConfiguration="DoctorBinding" behaviorConfiguration="DoctorBehavior" contract="GenInsV1"  name="DoctorEP"/>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="HospitalBehavior">
          <clientCredentials type="Siemens.EHealth.Client.Sso.SsoClientCredentials, Siemens.EHealth.Client">
            <clientCertificate storeLocation="CurrentUser" storeName="My" x509FindType="FindByThumbprint" findValue="415442ca384c853231e203fafa9a436f33b4043b" />
          </clientCredentials>
          <session duration="1:0:0:0">
            <sessionCertificate selfSigned="false" storeLocation="CurrentUser" storeName="My" x509FindType="FindByThumbprint" findValue="415442ca384c853231e203fafa9a436f33b4043b"/>
          </session>
        </behavior>
        <behavior name="DoctorBehavior">
          <clientCredentials type="Siemens.EHealth.Client.Sso.SsoClientCredentials, Siemens.EHealth.Client">
            <clientCertificate storeLocation="CurrentUser" storeName="My" x509FindType="FindByThumbprint" findValue="9e87b0b07d14878f5f5a94d7f83544759a5dc347" />
          </clientCredentials>
          <session duration="1:0:0:0">
            <sessionCertificate selfSigned="false" storeLocation="CurrentUser" storeName="My" x509FindType="FindByThumbprint" findValue="9e87b0b07d14878f5f5a94d7f83544759a5dc347"/>
          </session>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>